SENDER_EMAIL=your_email@example.com
RECEIVER_EMAIL=receiver_email@example.com
EMAIL_PASSWORD=your_password
SMTP_SERVER=smtp.yourprovider.com
SMTP_PORT=465

DB_NAME=your_dbname
DB_USER=your_user
DB_PASSWORD=your_password
DB_HOST=your_host
DB_PORT=your_port